name: Render README

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  render-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install R packages
        run: |
          Rscript -e 'install.packages("pak", repos = "https://cloud.r-project.org")'
          Rscript -e 'pak::pkg_install("rmarkdown")'
          Rscript -e 'pak::pkg_install("sf")'
          Rscript -e 'pak::pkg_install("ipeaGIT/geocodebr")'

      - name: Render README
        run: |
          Rscript -e 'rmarkdown::render("README.Rmd")'
